@import "./../../scss/SCSSConstants.scss";
.content {
    display: flex;
    align-items: center;
    max-width: 1000px;
    width: 100%;
    justify-content: center;
    margin: 0 auto;
}
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }
}

.formWrapper {
    display: flex;
    width: 100%;

    label {
        margin-top: 15px;
    }
    .btnwrapper {
        margin-top: 5px;
    }

    flex-direction: column;
    select {
        max-width: 300px;
        width: 100%;
        color: $white;
        background: none;
        font-size: 20px;
        cursor: pointer;

        option {
            cursor: pointer;
            background: $greenSoft;
        }
    }

    input[type="checkbox"] + label {
        display: block;
        margin: 0.2em;
        cursor: pointer;
        padding: 0.2em;
    }

    input[type="checkbox"] {
        display: none;
    }

    input[type="checkbox"] + label:before {
        content: "✔";
        background: #ffffff;
        border: 1px solid #e7eef1;
        border-radius: 0.2em;
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        padding-left: 0.3em;
        padding-top: 0.1em;
        padding-bottom: 0.3em;
        margin-right: 0.2em;
        vertical-align: bottom;
        color: transparent;
        transition: 0.2s;
    }

    input[type="checkbox"] + label:active:before {
        transform: scale(0);
    }

    input[type="checkbox"]:checked + label:before {
        background: #ffffff;
        border: 1px solid #e7eef1;
        color: $greenSoft;
    }

    input[type="checkbox"]:disabled + label:before {
        transform: scale(1);
        border-color: #aaa;
    }

    input[type="checkbox"]:checked:disabled + label:before {
        transform: scale(1);
        background-color: #bfb;
        border-color: #bfb;
    }
    .inputAgree {
    }

    label {
        font-weight: 500;
        font-size: 13px;
        color: $white;
        line-height: 15px;
        cursor: pointer;

        b {
            font-size: 15px;
            color: $greenSoft;
            text-decoration: underline;
            cursor: help;
        }
    }
    button {
        margin-left: auto;
        padding: 17px 50px;
        @include adaptive-value("padding-left", 50, 17);
        @include adaptive-value("padding-right", 50, 17);
    }
}
.error {
    box-shadow: inset 0px 5px 5px rgba(255, 0, 0, 0.454);
}
.inputStyle {
    background: none;
    color: $white;
    font-size: 22px;
    max-width: 500px;
    width: 100%;
    padding-bottom: 3px;
    border-bottom: 1px solid $greenSoft;
}
.previeWrapper {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    width: 100%;
    h4 {
        font-size: 18px;
        text-align: center;
        margin-bottom: 15px;
        color: $white;
    }
}
.labelError {
    display: inline-block;
    max-width: 500px;
}
