@import "./../../../scss/SCSSConstants.scss";
.btn {
    border: 1px solid #72a479;
    padding: 20px 33px;
    @include adaptive-value("padding-top", 20, 12);
    @include adaptive-value("padding-bottom", 20, 12);
    @include adaptive-value("padding-left", 33, 15);
    @include adaptive-value("padding-right", 33, 15);
    background: transparent;
    font-weight: 500;
    font-size: 16px;
    @include adaptive-value("font-size", 16, 12);
    line-height: 19px;
    &:hover {
        background: $greenSoft;
    }
}
.br {
    @extend %br10;
}
.brl {
    border-radius: 10px 0 0 10px;
}
.brr {
    border-radius: 0 10px 10px 0;
}
.fill {
    background: $greenGradient;
}
.red {
    background: red;
    &:hover {
        border: 1px solid gold;
        background: rgb(146, 5, 5);
    }
}
