@import "./../../scss/SCSSConstants.scss";

.cardWrapperPreview {
    position: relative;
    width: 325px;
    @include adaptive-value("width", 325, 250);
    width: 100%;
    z-index: 1;
    @extend %br10;
    position: relative;
    background: $greyLightGradient;
    display: flex;
    flex-direction: column;
    margin: 7.5px;

    margin: 0 10px;

    &:hover {
        z-index: 2;
        transform: translateY(-3px);
        box-shadow: 5px 10px 30px black;
        display: flex;
        .name {
            overflow: visible;
            display: block;
        }
        .description {
            overflow: visible;
            display: block;
        }
        img {
            animation: imgAnim 12s ease 0s 1 normal forwards;
        }
        .cardHeader {
        }
    }
    transition: $trans03;

    .amount {
        font-weight: 700;
        font-size: 20px;
        line-height: 105%;
        @include adaptive-value("font-size", 20, 14);
        display: inline-flex;
        @extend %flex-element-center;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        position: absolute;
        z-index: 5;
        left: 86%;
        top: -4%;
        color: $white;
        background: $greenSoft;
    }

    img {
        cursor: pointer;
        z-index: 1;
        border-radius: 10px 10px 0 0;
        display: block;
        width: 100%;
        height: 230px;
        @include adaptive-value("height", 230, 180);
        object-fit: cover;
        object-position: 50% 70%;
    }
    .cardHeader {
        display: flex;
        align-items: flex-start;

        justify-content: space-between;
        margin-bottom: 5px;
    }
    .cardBody {
        padding: 17px;
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .name {
        text-align: start;
        font-weight: 700;
        font-size: 22px;
        line-height: 115%;
        @include adaptive-value("font-size", 22, 14);
        color: $white;
        overflow: hidden;
        margin: 0 0 0 0;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        flex-grow: 0;
    }

    .weightCapacity {
        text-align: end;
        min-width: 80px;
        line-height: 145%;
        margin-left: 5px;
    }
    .description {
        font-size: 13px;
        line-height: 130%;
        color: $greyLight;
        text-align: start;
        overflow: hidden;
        margin: 0 0 0 0;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        flex-grow: 0;
    }
    .bottomWrapper {
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .price {
            font-weight: 600;
            font-size: 20px;
            line-height: 110%;

            @include adaptive-value("font-size", 20, 14);
        }
    }
}
.amount {
}
@keyframes imgAnim {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
.imgWrapper {
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}
