@import "./../../scss/SCSSConstants.scss";
.wrapper {
    width: 325px;
    @include adaptive-value("width", 325, 250);
    z-index: 1;
    @extend %br10;
    background: linear-gradient(90deg, rgb(42, 41, 40) 0%, rgb(62, 61, 60) 50%, rgb(134, 128, 126) 100%);

    animation: myAnim 1s ease 0s infinite normal forwards;
    display: flex;
    flex-direction: column;
    margin: 7.5px;
    .img {
        border-radius: 10px 10px 0 0;
        background: linear-gradient(90deg, rgb(49, 48, 47) 0%, rgb(62, 61, 60) 50%, rgb(98, 94, 93) 100%);
        animation: myAnim 1s ease 0s infinite normal forwards;
        display: block;

        width: 100%;
        height: 230px;
        @include adaptive-value("height", 230, 180);
    }
    .topCard {
        display: flex;
        justify-content: space-between;
        .weight {
            @extend %br10;
            width: 20%;
            background: $greyDeep;
            margin-bottom: 10px;
            height: 21px;
        }
    }
    .name {
        @extend %br10;
        width: 50%;
        background: $greyDeep;
        margin-bottom: 10px;
        height: 21px;
    }
    .description {
        @extend %br10;
        display: inline-block;
        width: 70%;
        background: $greyDeep;
        height: 60px;
        margin-bottom: 10px;
    }
    .price {
        @extend %br10;
        display: inline-block;
        width: 20%;
        background: $greyDeep;
        height: 21px;
    }
    .btn {
        @extend %br10;
        display: inline-block;
        width: 40%;
        background: $greyDeep;
        height: 44px;
    }
    .contentWrapper {
        padding: 10px;
        display: flex;
        flex-direction: column;
        .bottomCard {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
    }
}

@keyframes myAnim {
    0% {
        background-position: left center;
        background-size: 100%;
    }

    100% {
        background-position: left center;
        background-size: 150%;
    }
}
.list {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}
